.container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 10vh;
}

.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

.content {
  padding: 20px;
}

.contentPicture {
  padding-bottom: 30px;
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.pictureMe {
  max-width: 35%;
  height: auto;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.favorites {
  justify-content: left;
  text-align: left;
  padding: 20px;
}

.favoriteTitle {
  font-size: 5vh;
}

@media (max-width: 450px) {
  .pictureMe {
    max-width: 100%;
    padding: 20px;
    height: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .favoriteTitle {
    font-size: 5vh;
    text-align: center;
  }
  .Typist {
    font-size: 7vh;
  }
  .favorites {
    justify-content: left;
    text-align: left;
    padding: 0px;
  }
  .contentPicture {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* Ipad/tablet sizes */
@media (max-width: 1050px) {
  .pictureMe {
    max-width: 100%;
    padding: 20px;
    height: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .favoriteTitle {
    font-size: 5vh;
    text-align: center;
  }
  .title {
    font-size: 7vh;
  }
  .favorites {
    justify-content: left;
    text-align: left;
    padding: 0px;
  }
  .contentPicture {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
