.container {
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.educationorganizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  font-size: 9vh;
}

.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

.content {
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: square;
}

.education {
  text-align: left;
}

.titles {
  font-size: 5vh;
}

/* Most phones */
@media (max-width: 450px) {
  .Typist {
    font-size: 7vh;
  }
  .titles {
    font-size: 4vh;
    text-align: center;
  }
  .content {
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
/* tablets and ipads */
@media (max-width: 1050px) {
  .Typist {
    font-size: 6vh;
  }
  .titles {
    font-size: 4vh;
    text-align: center;
  }
  .educationorganizer {
    justify-content: flex-start;
  }
}
/* 15" laptops */
@media (max-width: 1800px) {
  .Typist {
    font-size: 10vh;
  }
  .titles {
    font-size: 4vh;
    text-align: center;
  }
}
/* 24" or bigger monitors */
@media (max-width: 2300px) {
  .Typist {
    font-size: 10vh;
  }
  .titles {
    font-size: 3.5vh;
    text-align: center;
  }
}
