@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap");

.contentOrganizer {
  justify-content: center;
  align-self: center;
  text-align: center;
}
.container {
  justify-content: center;
  align-self: center;
  text-align: center;
}

.text-area {
  font-size: 11vw;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.picture {
  max-width: 50%;
}

.intro-landing,
.title-landing {
  font-size: 1.5rem;
  margin: 0;
}

.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.body-landing {
  top: 40%;
  padding-top: 10vh;
}

.intro-landing,
.title-landing {
  font-size: 1.5rem;
}

/* 
========================
BUTTON 
========================
*/
.buttonStyle {
  border: none;
  background: black;
  color: #ffffff !important;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-top: 15vh;
}

.buttonStyle:hover {
  color: black !important;
  letter-spacing: 2px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

@media (max-width: 450px) {
  .buttonStyle {
    margin-top: 30vh;
  }
}
@media (max-height: 1200px) {
  .buttonStyle {
    margin-top: 35vh;
  }
}

/* Laptop 15" */
@media (max-width: 1600px) {
  .buttonStyle {
    margin-top: 15vh;
  }
}

/* monitor 27" */
@media (min-width: 1700px) {
  .body-landing {
    top: 40%;
    margin-top: 10vh;
  }
  .text-area {
    font-size: 9vw;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .buttonStyle {
    margin-top: 20vh;
  }
}
