.container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 10vh;
}

.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

.skillsorganizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content {
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

li {
  list-style-type: square;
}

.skills {
  justify-content: left;
  text-align: left;
}

.titles {
  font-size: 5vh;
}

@media (max-width: 450px) {
  .titles {
    font-size: 5vh;
    text-align: center;
  }
  .content {
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 7vh;
  }
}
